/*////////////////////////////////////////=====================================////////////////////////////////////////////

													СТИЛИ ДЛЯ ПОДВАЛА

/////////////////////////////////////////=====================================////////////////////////////////////////////*/



#basement {
	background: #595652;
	padding-top: 70px;
	padding-bottom: 70px;
}

/*.basement {
	min-height: 230px;
	background-color: #4e7ea2;
	text-align: center;
}*/

#basement a {
	font-size: 24px;
}

/*#basement a:hover {
	
}
*/
.prava i {
	/*font-size: 17px;
	text-align: right;*/
	margin-bottom: 0;
	position: absolute;
    left: 1660px;
    font-size: 17px;
}

