/*////////////////////////////////////////=====================================////////////////////////////////////////////

													СТИЛИ ДЛЯ ШАПКИ

/////////////////////////////////////////=====================================////////////////////////////////////////////*/


.shapka {
	position: relative;
	height: 80px;
	background-color: #595652;
}

.shapka a {
	color: #99989a;
}

.shapka .vhod .perehod_profil {
	font-size: 30px;
    color: black;
    padding: 18px;
    /* margin: 30px; */
    right: 100px;
    /* top: 0px; */
    position: absolute;
    background: #d2b13f;
}

.poisk {
	position: absolute;
	left: 820px;
	top: 19px;
}

.logotype {
	position: absolute;
	padding: 16px;
    /*top: 30px;
    left: 20px;*/
    color: #99989a;
    font-size: 200%;
}

.logotype:hover {
	color: #f3f2f3;
}

.vvod {
	padding: 0;
}

/*.vvod:hover {

}*/

.form-control {
	background-color: #f3f2f3;
}

.vhod {
	/*padding: 10px;*/
	position: absolute;
	right: 20px;
}



/*#license {
	padding: 10px;
	position: absolute;
	right: 20px;
}*/
/*
.footer {
	position: absolute;
	top: 1000px;
}*/