@import "panel.css";
@import "basement.css";

/*html{height: 100%}*/
body{/*background-image:  url(../img/fon_wood.jpg);*/
/*background-repeat: no-repeat;*/
background-color: #c5bda6; 
}
*{
	margin: 0;
	padding: 0;
}
/*.shapka a{
	color: #f3f2f3;
	text-decoration:none;
}*/

a {
	color: #2e2d2e;
}

/*.imgFilm:hover {
	background-color: #ff7777;
}*/

a:hover {
	color: #c4a024;
	text-decoration: none;
	/*transition: all.5s ease;
	-moz-transition:all.5s ease;
	-webkit-transition:all.5s ease;
	-ms-transition:all.5s ease;*/
}
a:active{color: #c4a024}
/*Selection Block*/
::selection{
	background: #f58b8b; color: #fff
};
::-moz-selection{background: #f58b8b; color: #fff}
/*////////////////////////////================================
дополняю класы bootstrap
//////////////////////////////================================== 
MARGIN-TOP
*/
.mt-16, .my-16 {
    margin-top: 8.5rem!important;
}

.col-2_5 {
    flex: 19.833335%;
    max-width: 19.833335%;
}

.col-9_5 {
    flex: 80.166667%;
    max-width: 80.166667%;
}

.button_y {
    background: #d2b13f;
}

/*клас для розмещения по чентру*/
.centered {
	text-align: center;
}
/*MARGIN-BOTTOM*/
.mb-10 {
	margin-bottom: 5.5rem!important;
}
/*отменить padding*/
.noPading {
	padding: 0;
	margin: 0;
}
/*стили для группы карточек*/
.card-deck {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 1580px;
}
/*cстили для карточки*/
.card {
	flex: 100%;
    /* margin-right: 15px; */
    /* margin-bottom: 15px; */
    /* margin-left: 15px; */
    margin-top: 15px;
    max-width: 280px;
    max-height: 625px;
    min-width: 280px;
    min-height: 550px;
    width: 18rem;
}
/*стили для постера карточки*/
.card_img_top {
	max-width: 255px;
    max-height: 375px;
    min-width: 255px;
    min-height: 375px;
    margin-top: 9px;
}
.card_img_music {
	max-width: 257px;
    max-height: 257px;
    min-width: 257px;
    min-height: 257px;
    margin-top: 9px;
}
.card_music {
	flex: 100%;
    /* margin-right: 15px; */
    /* margin-bottom: 15px; */
    /* margin-left: 15px; */
    margin-top: 15px;
    max-width: 280px;
    max-height: 525px;
    min-width: 280px;
    min-height: 550px;
}
/*СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА*/
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #c5bda6;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
/*стили для кнопки желтого чвета*/
.shapka .button_y {
    margin-top: 18px;
    margin-left: 15px;
    font-size: 19px;
    color: black;
}
/*стили для кнопки в модальном окне*/
.button_reg {
    margin: 0;
    font-size: 16px;
    background: #d2b13f;
    color: black;
}
/*цвет текста при наведении на кнопку входа*/
.button_y:hover {
    color: #595652;
}
/*/////////////////////////////////////////////////////////////*/
.FILMS {
	height: 700px;
    padding: 0;
    width: 100%;
}

.FILMS .body:hover {
	background: #d2b13f;
}
/*======================
начальная страница
========================*/
.menu {
	min-height: 750px;
	width: 100%;
}

#f {
	position: absolute;
    left: 220px;
}
/*===========================
СТИЛИ ДЛЯ СПИСКА С ЖАНРАМИ
=============================*/
.select_iscustvo {
    margin-bottom: 20px;
    margin-top: 10px;
}

/*стиль для ссылки в списке выбора жанров*/
#selectmovie2 a {
	font-size: 20px;
}
/*блок списка*/
.spisoc {
	min-height: 1000px;
	background: #d2b13f;
}
/*список*/
#selectmovie2 {
	height: 100%;
}
/*стили для заголовков в списке*/
#selectmovie2 h2 {
	font-size: 30px;
    /*стиль для выставления величины абзаца*/
	text-indent: 30px;
    /*растояние между строк*/
	line-height: 50px;
	/*font-style: oblique;*/
	font-family: Arial, Serif;
}
/*стиль для заголовка "Все"*/
#selectmovie2 h3 {
	font-size: 30px;
	text-indent: 30px;
	line-height: 50px;
	font-weight: 900;
	font-family: Serif;
}
/*стиль для списка: наведение на ссылку*/
#selectmovie2 a:hover {
	color: #595652;
	text-decoration: none;
}

/*===================================

=====================================*/
.glavField {
	height: 100%;
	min-height: 1000px;
	width: 100%;
}

/*====================
Страница с выбраным фильмом,музыкой, книгой
======================*/
/*постер*/
.kartinka {
	margin: 20px;
    margin-top: 30px;
    margin-right: 40px;
    max-height: 430px;
    max-width: 310px;
    float: left;
    min-height: 430px;
    min-width: 310px;
}

/*данные книжки*/
.Book {
    max-width: 100%;
    max-height: 75%;
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 45px;
    font-size: 20px;
}
/*Данные фильма*/
.Film { 
    max-width: 100%;
    max-height: 75%;
    margin-top: 20px;
    padding-top: 58px;
    padding-bottom: 58px;
    line-height: 45px;
    font-size: 20px;
}
/*банер альбома*/
.kartinkaMusic {
	margin: 20px;
	max-height: 257px;
	max-width: 257px;
	float: left;
	min-height: 257px;
	min-width: 257px;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-left: 150px;
	margin-right: 150px;
}
/*данные альбома*/
.Music {
    max-width: 100%;
    max-height: 75%;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 45px;
    font-size: 20px;
}

.slovo_faktu {
    font-size: 24px;
    text-indent: 30px;
    margin: 0; 
}

/*Описание*/
.description {
	max-width: 1500px;
    font-size: 19px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 80px;
    text-indent: 30px;
    line-height: 30px;
}
/*Стиль для надписи "Скачать торрент"*/
.torrentLink {
	color: green;
	text-align: center;
}